<div fxLayout="column" fxFill>
  <mat-toolbar color="primary">
    <img class="logo-toolbar" src="assets/img/angular-logo.png">

    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <div fxFlex></div>

    <mat-form-field>
      <mat-select [(ngModel)]="language" (change)="setLanguage(language)">
        <mat-option *ngFor="let l of languages" [value]="l">{{ l }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>

  <mat-sidenav-container fxFlex (backdropClick)="closeSidenav()">
    <mat-sidenav [mode]="sidenavType" [opened]="(ui$ | async).isSidenavVisible" disableClose="true">
      {{ 'LEFT_SIDENAV_CONTENT' | translate }}
    </mat-sidenav>

    <!-- you'll probably want to add a router-outlet here -->
    <!-- to display your content accordingly to your routes -->
    <p>{{ 'TXT_CONTENT' | translate }}</p>

    <button mat-button (click)="openSidenav()">{{ 'OPEN_LEFT_SIDENAV' | translate }}</button>
  </mat-sidenav-container>
</div>
